body {
  	background-image: url(/misc/connectwork.png)
}

.medium-dark-theme {
    background-color: #222222;
    color: snow;
    padding: 40px;
}

.color-pop-theme {
    background-color: #080808;
    color: #88D317;
    padding: 20px;
}

.navbar-inverse .navbar-brand {
    color: #88D317;
    text-decoration: none;
    font-style: none;
    !important;
}

.navbar-inverse .navbar-nav >li >a {
    text-decoration: none;
    font-style: none;
}

a:link {
    color: snow;
    text-decoration: underline;
}

a:visited {
    color: lightgray;
    font-style: italic;
}

a:hover {
    color: #88D317;
    text-decoration: underline;
}

a:active {
    color: #88D317;
    font-style: italic;
}

.left-border {
    background: url(/misc/fern-2.jpg);
    background-size: cover;
    overflow: hidden;
}

.right-border {
    background: url(/misc/fern.jpg);
    background-size: cover;
    overflow: hidden;
}

.jumborow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
}

jumborow > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.top-buffer {
    margin-top: 20px;
}
