body {
  	background-image: url(/misc/connectwork.png)
}

.medium-dark-theme {
    background-color: #222222;
    color: snow;
    padding: 40px;
}

.color-pop-theme {
    background-color: #080808;
    color: #88D317;
    padding: 20px;
}

.navbar-inverse .navbar-brand {
    color: #88D317;
    text-decoration: none;
    font-style: none;
    !important;
}

.navbar-inverse .navbar-nav >li >a {
    text-decoration: none;
    font-style: none;
}

a:link {
    color: snow;
    text-decoration: underline;
}

a:visited {
    color: lightgray;
    font-style: italic;
}

a:hover {
    color: #88D317;
    text-decoration: underline;
}

a:active {
    color: #88D317;
    font-style: italic;
}

.left-border {
    background: url(/misc/fern-2.jpg);
    background-size: cover;
    overflow: hidden;
}

.right-border {
    background: url(/misc/fern.jpg);
    background-size: cover;
    overflow: hidden;
}

.jumborow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
}

jumborow > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.top-buffer {
    margin-top: 20px;
}

.hideaway {
    display: none;
}

.fun-button {
    border: none;
    outline: none;
    padding: 12px 16px;
    margin: 8px;
    background-color: #080808;
    border-radius: 12px;
    cursor: pointer;
}

.fun-button:hover {
    background-color: #ddd;
}

.fun-button.active {
    background-color: #88D317;
    color: black;
}

.fun-button:disabled {
    background-color: #88D317;
    color: #080808;
}

.columns {
    float: left;
    width: 25%;
}

.fa {
    padding: 20px;
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-github {
    background: #88D317;
    color: black;
}

.fa-linkedin {
    background: #88D317;
    color: black;
}
