.post-tags {
    display: block;
    margin-bottom: 1rem;
}

a.no-underline {
    text-decoration: none;
    color: #990099;
}
a.no-underline:hover, a.no-underline:active {
    text-decoration: none;
}
